body {
	background-color: #000;
	background-size: cover;
	background-image: url('images/skyline.jpg');
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	border-radius: 9px;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 24px;
	text-align: center;
	margin: 2em auto;
	width: 1080px;
}

iframe {
	display: none;
}

h1, h2 {
	color: #333;
	line-height: 1;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 88px;
}

h2 {
	font-size: 44px;
}

select {
	width: 440px;
	font-size: 24px;
}

.hidden {
	visibility: hidden;
}

.innards {
	height: 440px;
	width: 1080px;
}

.half {
	float:left;
	margin: 10px;
	width: 520px;
}

table {
	font-size: 24px;
	padding-top: 3em;
}

#description {
	padding-top: 1em;
}

.left {
	text-align: left;
}

.strong {
	font-weight: bold;
}